@tailwind bas;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  display: flex;
  min-height: 100vh;
  background: #1f1f1f;
  color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: auto;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar * {
  background: transparen;
}

::-webkit-scrollbar-thumb {
  background: #929292 !important;
  border-radius: 25px;
}
